doctype html
html
    head
        title StyleKey Closet - Outfits
        link(rel='stylesheet', href='/styles.css')
    body
        h1 Outfits
        ul
            each outfit in outfits
                li= outfit.name
        h2 Add Outfit
        form(action='/outfits', method='post')
            input(type='text', name='name', placeholder='Outfit Name')
            button(type='submit') Add
        a(href='/items') Go to Items
        a(href='/users') Go to Users
