html
    head
        title StyleKey Closet - Users
        link(rel='stylesheet', href='/styles.css')
    body
        h1 Users
        ul
            each user in users
                li= user.name
        h2 Add User
        form(action='/users', method='post')
            input(type='text', name='name', placeholder='User Name')
            button(type='submit') Add
        a(href='/items') Go to Items
        a(href='/outfits') Go to Outfits
